.footer {
  margin: 67px auto 60px auto;
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 800px) and (min-width: 471px) {
  .footer {
    width: 80%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 471px) and (min-width: 0px) {
  .footer {
    width: 100%;
    max-width: 282px;
    font-size: 14px;
  }
}
