.header {
  border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}

.header__logo {
  margin-top: 45px;
  margin-bottom: 41px;
  max-width: 173px;
  max-height: 33px;
  object-fit: contain;
}

.header__line {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) and (min-width: 471px) {
  .header__logo {
    margin: 28px 0 32px 27px;
  }
}

@media only screen and (max-width: 471px) and (min-width: 0px) {
  .header__line {
    height: 2px;
  }

  .header__logo {
    margin: 28px 0 32px 27px;
    max-width: 126px;
  }
}
