@media only screen and (max-width: 800px) and (min-width: 471px) {
  :root {
    --size-divisor: 1.5;
  }

  .page__content {
    margin: 5%;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile__desciption {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    width: calc(150px / var(--size-divisor));
  }

  .footer {
    width: 80%;
  }
}

@media only screen and (max-width: 471px) and (min-width: 0px) {
  .profile {
    flex-direction: column;
  }

  .profile__pic {
    margin-right: 0;
  }

  .profile__info {
    display: grid;
    grid-template-columns: none;
    grid-gap: 10px 14px;
    justify-items: center;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .profile__title {
    font-size: 22px;
    line-height: normal;
    text-align: center;
    margin: 26.25px 0 0 0;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  .profile__add-button {
    margin: 36px 0 0 0;
    width: 90%;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .header__line {
    height: 2px;
  }

  .header__logo {
    margin-left: 27px;
  }

  .footer {
    width: 282px;
  }
}
