.preview__image-card {
  width: 433px;
  height: 540px;
}

.preview__modal-container {
  padding: 0;
  margin: 90px auto 90px auto;
}

.preview__image-transition {
  transition: opacity 0.15s linear;
}

.preview__image-description {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 7px 0 0 0;
}

@media only screen and (max-width: 471px) and (min-width: 0) {
  .preview__image-card {
    width: 240px;
    height: 299px;
  }

  .preview__modal-container {
    margin: 136px auto 133px auto;
    background-color: transparent;
  }

  .preview__image-close_modal {
    bottom: calc(100% + -7px);
    left: calc(100% + 8px);
  }
}
