.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-top: 45px;
  margin-bottom: 41px;
  max-width: 173px;
  max-height: 33px;
  object-fit: contain;
}

@media only screen and (max-width: 800px) and (min-width: 471px) {
  .header__logo {
    margin: 28px 0 32px 27px;
  }
}

@media only screen and (max-width: 471px) and (min-width: 0px) {
  .header__logo {
    margin: 28px 0 32px 27px;
    max-width: 126px;
  }
}
